<div class="container">
  <div class="row justify-content-md-center">    
    <div class="col col-lg-10">
        <h2>Find Your Book</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-10">
      
        <div class="form-group mx-sm-2 mb-2">
          <!-- <label for="inputPassword2">Search By Title</label> -->
          <input [(ngModel)]="userInput" type="text" class="form-control" placeholder="Search by Title">
        </div>
        <button (click)="searchBooks()" type="submit" class="btn btn-primary mb-2">Search</button>

    </div>
  </div>
</div>

<div >
  <div *ngFor="let book of books" class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img *ngIf="book.volumeInfo.imageLinks" src="{{book.volumeInfo.imageLinks.smallThumbnail}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{book.volumeInfo.title}}</h5>
          <p  class="card-text text-muted">Author: {{book.volumeInfo.authors[0]}}</p>
          <p *ngIf="book.volumeInfo.publisher" class="card-text text-muted">Publisher: {{book.volumeInfo.publisher}}</p>
          <p *ngIf="book.volumeInfo.industryIdentifiers" class="card-text text-muted">ISBN-13: {{book.volumeInfo.industryIdentifiers[0].identifier}}</p>
          <p *ngIf="book.volumeInfo.industryIdentifiers" class="card-text text-muted">ISBN-10: {{book.volumeInfo.industryIdentifiers[1].identifier}}</p>
        </div>
      </div>
    </div>
  </div>
</div>