<div class="container">
  <div id="search-div" class="row justify-content-md-center">    
    <div class="col col-lg-4" style="padding-right: 0px;">
        <label for="user-inp"><h2>Find Your Book</h2></label>
        <input id="user-inp" [(ngModel)]="userInput" type="text" class="form-control" placeholder="Search by Title">    
    </div>
    <div class="col col-lg-2" style="padding-left: 10px;">
      <button id="search-btn" (click)="searchBooks()" type="submit" class="btn btn-warning">Search</button>
    </div>   
  </div>
  <div id="btn-div" class="row justify-content-md-center">
      <button (click)="changeBooksOnClick('dad'); toggleActive(0);" type="button" id="0" class="btn btn-primary toggle-btn">Father's Day</button>
      <button (click)="changeBooksOnClick('game of thrones'); toggleActive(1);" type="button" id="1" class="btn btn-outline-primary toggle-btn">Most Popular</button>
      <button (click)="changeBooksOnClick('Where the Crawdads Sing'); toggleActive(2);" id="2" type="button" class="btn btn-outline-primary toggle-btn">The Latest</button>
      <button (click)="changeBooksOnClick('New York'); toggleActive(3);"  type="button" id="3" class="btn btn-outline-primary toggle-btn">Staff picks</button>
      <button (click)="changeBooksOnClick('classics'); toggleActive(4);" type="button" id="4" class="btn btn-outline-primary toggle-btn">Deals</button>
      <button (click)="changeBooksOnClick('western'); toggleActive(5);" type="button" id="5" class="btn btn-outline-primary toggle-btn">Rare finds</button>
  </div>
</div>

<div class="container">
  <div class="row justify-content-md-center">
      <div class="col" style="margin-top: 50px;">
        <div *ngFor="let book of books" class="card mb-3">
          <div class="row no-gutters">
            <div class="col-lg-3">
              <img *ngIf="book.volumeInfo.imageLinks" src="{{book.volumeInfo.imageLinks.smallThumbnail}}" class="card-img" alt="...">
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col col-lg-8">
                    <div class="card-body">
                      <h5 class="card-title">{{book.volumeInfo.title}}</h5>
                      <p  *ngIf="book.volumeInfo.authors" class="card-text text-muted">Author: {{book.volumeInfo.authors[0]}}</p>
                      <p *ngIf="book.volumeInfo.publisher" class="card-text text-muted">Publisher: {{book.volumeInfo.publisher}}</p>
                      <p *ngIf="book.volumeInfo.industryIdentifiers" class="card-text text-muted">ISBN-13: {{book.volumeInfo.industryIdentifiers[0].identifier}}</p>
                      <p *ngIf="book.volumeInfo.industryIdentifiers" class="card-text text-muted">ISBN-10: {{book.volumeInfo.industryIdentifiers[1].identifier}}</p>
                      <button class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Description</button>
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">{{book.volumeInfo.title}}</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <p>{{book.volumeInfo.description}}</p>
                                <!-- <a href="{{book.volumeInfo.imageLinks.previewLink}}"></a>                             -->
                            </div>
                            
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div id="price-div" class="col col-lg-4">
                  <p class="text-muted">Rent From $5.44</p>
                  <p class="text-muted">Buy From $9.86</p>
                  <button (click)="saveToStorage(book.volumeInfo)" id="options-btn" class="btn btn-warning" [routerLink]="['/view-options']">View Options</button>
                </div>
              </div>             
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
