#logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 18px;
}

#cart {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 45px;
}

#item-count {
    margin-bottom: 0;
    height: 14px;
    margin-left: 7px;
}

#ebr {
    cursor: pointer;
}

.nav-item {
    margin-left: 20px;
}

#li-cart {
    height: 40px;
    align-items: center;
    margin-left: 26px;
}

a.nav-link {
    padding-top: 15px;
}

#search-div {
    margin-top: 100px;
}

#search-btn {
    margin-top: 54px;
    width: 150px;
}

#options-btn {
    width: 150px;
}

#price-div {
    margin-top: 55px;
}

#date-btn {
    height: 62px;;
}

